############################################
# General
############################################
.env
.env.*
!.env.example

############################################
# .NET / Visual Studio
############################################
bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/

# Rider / ReSharper
.idea/
*.DotSettings.user

############################################
# ASP.NET Core
############################################
appsettings.Development.json
appsettings.Local.json

############################################
# Node / React
############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/

.vite/

############################################
# React (Visual Studio)
############################################
*.esproj
.eslintrc.cjs.cache

############################################
# Logs
############################################
logs/
*.log

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# Database
############################################
*.sql.bak
*.dump
*.db